<!-- Toolbar -->
<div class="toolbar p-4" role="banner">
  <h1>{{title}}</h1>
</div>

<div class="content" role="main">
  <div class="container text-center">
    <div class="row border border-primary rounded py-2">
      <div class="col-10">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let chat of chats; let i = index"
            [ngClass]="chat.type === 0 ? 'text-start' :'text-end'">

            <span *ngIf="chat.type === 0">You: </span>
            <span *ngIf="chat.type === 1">Bot: </span>

            {{chat.response}}

            <div class="row">
              <div class="col-sm-6 mt-3" *ngFor="let card of chat.cards; let i = index">
                <div class="card">
                  <img  class="card-img-top" src="{{card.imageUrl}}"
                        onerror="this.src='assets/writing_web.jpg';"/>
                  <div class="card-body">
                    <h5 class="card-title">{{card.header}}</h5>
                    <p class="card-text">{{card.description}}</p>
                    <p class="card-text"><a href="{{card.link}}" class="btn btn-primary">Go to post</a></p>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="chat.quickReply != undefined" class="py-2">{{chat.quickReply.text}}</div>
            
            <ng-container *ngIf="chat.quickReply != undefined">
              <button type="button" 
              *ngFor="let reply of chat.quickReply.replies; let i = index" 
              class="btn btn-warning mx-1"
              (click)="sendQuickReply(reply.text)">
                {{reply.text}}
              </button>
            </ng-container>

          </li>
        </ul>
      </div>
      <div class="row g-3">
        <div class="col-auto">
          <label for="message" class="visually-hidden">Message</label>
          <input type="text" #messageInput class="form-control" id="message" placeholder="Type message">
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary mb-3"
            (click)="send(messageInput.value); messageInput.value=''">Send</button>
        </div>
      </div>
    </div>
    <div class="row bg-dark text-white my-5">
      <div class="col-12">
        <small>by www.harsha.codes</small>
      </div>
    </div>
  </div>
  <!-- at  {{chat.dateTime | date: "MMM d, y, h:mm:ss a"}} -->

</div>


<router-outlet></router-outlet>